.filtersComponent {
    background-color: rgba(183, 219, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    color: rgb(0, 123, 255);
    font-size: 16px;
}

.dropdown-seasons,
.dropdown-levels,
.dropdown-passes {
    margin-left: 5px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #333333;
    width: 200px;
    cursor: pointer;
}

.dropdown-seasons:hover,
.dropdown-levels:hover,
.dropdown-passes:hover {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
